<div class="card w-100 bg-base-200 shadow-xl transition-all duration-300 hover:shadow-2xl">
    <a href="{% url "article:detail" post.id %}">
        <figure><img src="{% if not post.image %}
            https://tse2.mm.bing.net/th?id=OIP.QexcnKLol8SaCraOMz2o6AHaFo&pid=Api&P=0&h=180
            {% else %}
            {{post.image.url}}
            {% endif %} "alt="Shoes" class="w-full max-h-96"/>
        </figure>
        <div class="card-body">
            <h2 class="card-title">{{post.title}}</h2>
        </div>
        <div class="card-actions justify-end">
            <button id="like_{{post.id}}" onclick="like({{post.id}})" class="btn text-lg">
                <i class="fa-sharp fa-solid fa-heart {% if user in post.like.all %}text-red-400{% else %}text-white{% endif %}"></i>
                {{post.like.count}}
            </button>
            <button id="dislike_{{ post.id }}" onclick="dislike({{post.id}})" class="btn text-lg">
                <i class="fa-solid fa-thumbs-down {% if user in post.dislike.all %}text-black-300{% else %}text-white{% endif %}"></i>
                {{ post.dislike.count }}
            </button>
        </div>
    </a>
</div>