{% extends "base.html" %}

{% block title %}Блог{% endblock %}

{% block content %}
<div class="my-4 rounded-lg bg-base-200 p-11">
    <h1 class="text 3x1 font-bold mb-4">Blog</h1>
    <p>Якщо ви добралися до цієї сторінки, то красавчики</p>
    <a onclick="my_modal_4.showModal()" class="btn btn-accent mt-4">Створити пост</a>
    <hr class="mt-10" />
    <div class="grid grid-cols-3 gap-7 mt-10">
        {% for post in all_posts %}
        <div class="card w-100 bg-base-200 shadow-xl transition-all duration-300 hover:shadow-2xl">
            <a href="{% url "blog:detail" post.id %}">
                <figure><img src="{% if not post.image %}
                    https://tse4.mm.bing.net/th?id=OIP.NWe1ukHFnr2Q-6TuX_Xw4wHaE8&pid=Api&P=0&h=180
                    {% else %}
                    {{post.image.url}}
                    {% endif %} "alt="Shoes" class="w-full max-h-96"/></figure>
                <div class="card-body">
                    <h2 class="card-title">{{post.title}}</h2>
                    <div class="card-actions justify-end"></div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<dialog id="my_modal_4" class="modal">
    <div class="modal-box w-11/12 max-w-5xl">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <form action="{% url "blog:create" %}" method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            {{created_form}}
            <button class='btn btn-accent'>Створити пост</button>
        </form>

    </div>
  </dialog>

{% endblock %}