<div class="navbar bg-base-100">
    <div class="navbar-start">
      <b><a class="btn text-3xl" href="{% url "main:about_site" %}" style="color:purple"><img src="https://www.svgrepo.com/show/491898/app-1.svg" width="200"></img>Суперблог2024</a><b>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a href="{% url "main:greeting" %}">lol</a></li>
        <li><a href="{% url "article:index" %}">Blog</a></li>
      </ul>
    </div>
    <div class="navbar-end hidden lg:flex">
      <a class="btn">Button</a>
    </div>
  </div>
  